.product-container {
    overflow: hidden;
    width:300px;

    box-shadow: 0px 0px 15px -5px;

}

.image-container img{
    overflow: hidden;
    height: 200px;
    width: 90%;
    border: inset black 2px;
    border-radius: 5px;
}

.product-content{
    margin: 1rem;
    margin-top: 0.5rem;
}