.display-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 1000 px;
    margin:auto;
    margin-top: 5%;
    justify-content: center;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 1rem;
    overflow: hidden;
    width:300px;
    box-shadow: 0px 0px 15px -5px;
}

.image-container img{
    margin: 0.5rem;
    margin-left: 1rem;
    overflow: hidden;
    width:90%;
    height: 200px;
}

.product-content{
    margin: 1rem;
    margin-top: 0.5rem;
}

.btn {
    margin: 0.5rem;
}