.display-board {
    width: 75%;
    margin:auto;
    justify-content: center;
    background-color: green;
}

.product-container {
    background-color: red;
    margin: 1rem;
    overflow: hidden;
    width:300px;
    box-shadow: 0px 0px 15px -5px;
}

.image-container img{
    margin: 0.5rem;
    overflow: hidden;
    height: 200px;
}

.product-content{
    margin: 1rem;
    margin-top: 0.5rem;
}

.btn {
    margin: 0.5rem;
}