.grandwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: navy;
    color:wheat;
    
}

.links{
    display: flex;
    justify-content: space-evenly;

    border: solid white 2px;
    border-radius: 9px;
    background-color: darkcyan;
    color:white;
    width: 30%;
    height: 50px;
    padding: 5px;
    margin-bottom: 10px;
}
.links a{
    font-weight: bolder;
    color: white;
}

.soloLink{
    
    border: outset yellow 2px;
    padding: 12px;
    
    background-color: grey;   
}

.soloLink:Hover{
    border: outset white 2px;
    background-color: darkorange;   
}