@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Source+Serif+Pro:wght@300;700&display=swap");

:root {
  --accent: #ffbf46;
  --dark: #648381;
  --darker: #575761;
  --light: #8acb88;
  --lighter: #ffffff;
  --ssp: "Source Serif Pro";
  --lb: "Libre Baskerville";
}
